.card {
  border-radius: 10px;
  margin: 15px;
  width: 195px;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.3);
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 50%;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.empty-image {
  height: 70%;
  width: 70%;
}

.heading {
  font-size: 20px;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.sub-heading {
  font-size: 16px;
  padding-left: 0.75rem;
}

.price {
  border-top: 2px solid var(--gray);
  color: var(--bright-green);
  padding: 1rem 0 0.25rem 0;
  width: 90%;
  margin: 0 auto;
}

@media screen and (max-width: 980px) {
  .card {
    flex: 1 1 28%;
  }
}

@media screen and (max-width: 768px) {
  .card {
    flex: 1 1 100%;
    height: 80vh;
  }

  .heading {
    font-size: 32px;
  }

  .sub-heading {
    font-size: 20px;
  }

  .price {
    font-size: 28px;
    padding-bottom: 1rem;
  }
}
